.container {
  column-gap: 4rem;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 15px;
}

.logo {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.links a {
  margin-left: 15px;
}

.social {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}